PORT=3000

DB_HOST=localhost 
DB_PORT=5432 
DB_NAME=consumo_electrico 
DB_USER= 
DB_PASSWORD= 

JWT_SECRET= 
JWT_ACCESS_EXPIRES_IN=15m 
REFRESH_TOKEN_DAYS=7 

FRONTEND_URL=http://localhost:5173 
APP_TIMEZONE=America/Guayaquil 

NODE_ENV=development